body{
    background: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}
.border1{
    background: hsl(0, 0%, 98%);
}

.card-img{
    height: 180px;
    width: auto;
}
.country-details-img {
    height: 400px;
    margin-left: 2em;
    margin-right: 4em;
}
