:root {
    --primary-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    --element-light: hsl(0, 0%, 100%);  
}
.dark-mode {
    --primary-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --element-light: hsl(209, 23%, 22%);
}
body {
    background: var(--primary-color);
}
.border1{
    background: var(--element-light);
    color: var(--text-color);
}
#search-bar {
    background: var(--element-light);
    color: var(--text-color);
}
#selected-region {
    background: var(--element-light);
    color: var(--text-color);
}
#country-choice{
    background: var(--element-light);
    color: var(--text-color);
}

/* #cardImg {
    height: 180px;
    width: auto;
    object-fit: cover;
} */


/* Second Page */
#back {
    background: var(--primary-color);
    color: var(--text-color);
    border: 3px solid var(--element-light)
}
#country-description{
    color: var(--text-color);
}
.search-filter{
    display: flex;
}
.dropDown{
    width: 300px;
    height: 50px;
}
button {
    border: 0;
    background: transparent;
}
.showDropDown {
    display: none;
    position: relative;
}
.countryModal {
    position: fixed;
    background: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    background: inherit;
    overflow-y: scroll;
}
.country-details-img {
    height: 400px;
    width: 500px;
}
.show {
    display: none;
    
}
.content-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.details{
    display: flex;
}


@media (max-width: 750px) {
    .search-filter{
        display: flex;
        flex-direction: column;
    }
    .content-details{
        display: flex;
        flex-direction: column;
        margin-top: -3rem;
    }
    .country-details-img {
        height: 250px;
        width: 300px;
    }
    .details{
        display: flex;
        flex-direction: column;
    }
}